{%extends 'app/layout.html'%}
{% block contenido %}

<a href="{% url 'app:form_crear_categoria' %}">Crear Categoria</a>
<ul>

    {% for c in categorias %}
        <li>{{c.nombre}}</li>
    {% endfor%}
    


</ul>
{% endblock %}
{%block titulo%}
Categorias:
{%endblock%}
