{%extends 'app/layout.html'%}

{% block titulo%}
Crear Pelicula
{%endblock%}

{% block contenido%}
<form action="{%url 'app:post_crear_pelicula'%}" method="POST">
    {% csrf_token%}
    
<label for="titulo">Titulo:</label>
<input type="text" name="titulo"> 
<br>
<label for="year">Año:</label>
<input type="number" name="year"> 
<br>
<label for="sinopsis">Sinopsis:</label>
<input type="text" name="sinopsis"> 
<br>
<label for="actores">Actores:</label>
<input type="text" name="actores"> 
<br>
<label for="categoria">Categoria</label>
<select name="categoria">

{% for c in categorias%}

<option value="{{c.id}}">{{c.nombre}}</option>

{% endfor %}

</select>
<br>
<button type="submit" >Crear</button>
</form>
{%endblock%}