{%extends 'app/layout.html'%}
{% block contenido %}
<p>Este es el contenido de la pagina inicial</p>

{% if request.user.is_authenticated %}

<p>Hola {{request.user.first_name}} {{request.user.id}} </p>
{% else %}

<p>Si deseas ingresas haz click  <a href="{% url 'app:form_login' %}">Aqui</a> </p>
{%endif%}
{% endblock %}