{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockbuster</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
</head>
<body>


<div class="contenedor">

<div class="header" >
    <h1>
    <img src="{% static 'app/img/logo_bb.png' %}"  class="logo" alt="BB">
    BLOCKBUSTER-<small>{%block titulo%}El mejor sitio{%endblock%}</small> </h1>
</div>
<div class="navegacion" >

    {% if request.user.is_authenticated %}
    <a href="{% url 'app:post_logout' %}">Salir</a>
    <br>
    <a href="{% url 'app:index' %}">inicio</a>
     <br>
    <a href="{% url 'app:peliculas' %}">peliculas</a>
    <br>
    <a href="{% url 'app:categorias' %}">categorias</a>
    <br>
    <a href="{% url 'app:acercade' %}">Nosotros</a>
    {% else %}
    <a href="{% url 'app:form_login' %}">Iniciar Sesion</a>
    <br>
    <a href="{% url 'app:form_registro' %}">Registro</a>
    <br>
    {%endif%}
    
   
    
</div>
<div class="contenido" >
    {% block contenido%}
    {% endblock %}
</div>
<div class="footer" >

    <span>Derechos reservados</span>

</div> 

</div>

    <script src="{% static 'app/js/index.js' %}"></script>
</body>

</html>