{% extends 'app/layout.html' %}

{% block titulo  %}

Ingreso
{% endblock  %}

{% block contenido  %}

<h1>Ingreso a block</h1>


<form action="{% url 'app:post_login' %}" method="POST">
    {% csrf_token%}
<label for="usuario">Usuario</label>
<input type="text" name="usuario" >
<br>
<label for="password">Contraseña</label>
<input type="password" name="clave" >
<br>
<button type="submit" >Ingresar</button>

</form>

{% endblock  %}