{% extends 'app/layout.html' %}

{% block contenido %} 
{% if pelicula %}
<h1>{{ pelicula.titulo }}</h1> <!-- Toma variable -->
<h3>Año</h3>
<p>{{ pelicula.year }}</p>

{% if pelicula.actores %} <!-- Solo aparece si hay un valor -->
<h3>Actores</h3>
<p>{{ pelicula.actores }}</p>
{% endif %}

<h3>Sinopsis</h3>
<p>{{ pelicula.sinopsis }}</p>
<h3>Categorias</h3>
<p>{{ pelicula.categoria }}</p>
{% else %}
<h1 style="color: red">La película solicitada no existe!</h1>
{% endif %}



{% endblock %}
