{% extends 'app/layout.html' %}

{% block titulo %}
Películas
{% endblock %}

{% block contenido %}
<a href="{% url 'app:form_crear_pelicula'%}">Crear pelicula</a>
<table border="1" width="100%">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for p in peliculas %}
        <tr>
            <td>{{ p.titulo }}</td>
            <td>{{ p.year }}</td>
            
            <td>
                <a href="{% url 'app:pelicula' p.id %}">Ver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

<!-- div class="footer" >
        
            <span>Derechos reservados    {{year}} {{tienda}}</span>
           
   
        
        </div> 
        {% comment %}
        <ul>
       <li>Avatar</li>
       <li>Hola</li>
       <li>Av</li>
       </ul>
       {% endcomment %} -->