*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 120px;
    height: 40px;
}

/* body{

font-family: sans-serif;

}

h1 {
background-color: blue;
color: yellow;
padding: 10px;
border: 1px solid yellow;

} */

.contenedor{

width: 100vw;
height: 100vh;
display: grid;
grid-template: 50px auto 50px /0.2fr 1fr;


}

.header{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: blue;
    color: white;
}
.navegacion ul{
    list-style-type: none;
}
.navegacion a{
    color: white;
    text-decoration: none;
    
}
.navegacion{
    grid-row: 2/3;
    grid-column: 1/2; 
    background-color: gray;

}

.contenido{
    grid-row: 2/3;
    padding: 20px;
    grid-column: 2/3;
}

.footer{
    background-color:black;
    color: white;
    grid-row: 3/3;

    grid-column: 1/3;

}